*{padding: 0;margin: 0;}
body{padding: 0;margin: 0;box-sizing: border-box;}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .logo img {
  width: 30px;
  margin-right: 10px;

}
#logo-brand{  color:#5F9BEB;font-weight: bolder;font-size: 20px;}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

header nav ul li a:hover {
  color: #6a4df9;

}

.buttons{display: flex;flex-direction: row;justify-content: space-between;gap: 2vh;text-align: center;align-items: center;}
.login{text-decoration: none;
padding: 10px 20px;
border-radius: 5px;
font-weight: 500;
transition: background-color 0.3s ease;background-color: white;
border: 1px solid #6a4df9;
color: #6a4df9;}
.signup{background-color: #6a4df9;
color: white; text-decoration: none;
padding: 10px 20px;
border-radius: 5px;
font-weight: 500;
transition: background-color 0.3s ease;}
input #logout{text-decoration: none;
padding: 10px 20px;
border-radius: 5px;
font-weight: 500;
transition: background-color 0.3s ease;background-color: white;
border: 1px solid #6a4df9;
color: #6a4df9;}
.login :hover{ background-color: #6a4df9;
color: white;}
.signup :hover{background-color: #533ccf;}
#logout:hover{background-color: #6558d3;color: #fff;}
/********CONTAINER****************/
.container{display: flex;flex-direction: column;width: 100%;height: 100vh;  background-color:#ebebf8}
/********************************/
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  background-color: #FAF8FF;
}

.hero-text {
  max-width: 50%;
}
#brand-h1{font-size: 90px;    color: #6a4df9;
  margin-bottom: 10px;
}
.hero-text h2 {
  font-size: 2.5rem;
  color: #33313f;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
}

.hero-text .cta {
  display: flex;
  align-items: center;
}

.hero-text input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.hero-text button {
  padding: 10px 20px;
  background-color: #6a4df9;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-text button:hover {
  background-color: #533ccf;
}

.hero-image {
  max-width: 60%;
}

.hero-image img {
  width: 100%;
  mix-blend-mode: multiply;
  width: 50vh;
  height: 35vh;
}
/****feature card*/
.features{width: 100%;display: flex;flex-direction: column;gap: 10px;}
.feature{padding-left: 0px;
background-color: #ebebf8;padding: 20px;border:thistle  black;}
.title{text-align: center;}
.title h2{font-size: 5vh;font-family: 900;color: #6358c7;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #c7c0cc;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  height:max-content ;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #6558d3;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: #4133B7;
}
.feature-cards{display: flex;flex-direction: row;justify-content: space-evenly;}