body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9ff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logo img {
    width: 30px;
    margin-right: 10px;

}
#logo-brand{  color:#5F9BEB;font-weight: bolder;font-size: 20px;}
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

header nav ul li a:hover {
    color: #6a4df9;
}

header .buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

header .buttons .login {
    background-color: white;
    border: 1px solid #6a4df9;
    color: #6a4df9;
}

header .buttons .login:hover {
    background-color: #6a4df9;
    color: white;
}

header .buttons .signup {
    background-color: #6a4df9;
    color: white;
}

header .buttons .signup:hover {
    background-color: #533ccf;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.hero-text {
    text-align: center;
    justify-content: space-between;
    max-width: 50%;
}
#brand-h1{font-size: 90px;    color: #6a4df9;
    margin-bottom: -20px;
}
.hero-text h2 {
    font-size: 2.5rem;
    color: #33313f;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.hero-text .cta {
    display: flex;
    flex-direction: column;
}

.hero-text input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.hero-text button {
    padding: 10px 20px;
    background-color: #6a4df9;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-text button:hover {
    background-color: #533ccf;
}

.hero-image {
    max-width: 60%;
}

.hero-image img {
    width: 100%;
    mix-blend-mode: multiply;
    width: 50vh;
    height: 35vh;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

footer p {
    color: #777;
}